:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;

  height: 100%;
  padding: 1rem;
}

.labels {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-muted);
  white-space: nowrap;
  margin-bottom: 1rem;

  span {
    text-align: center;
  }
}

.stage-container {
  position: relative;

  .stage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;

    display: grid;
    grid-template-rows: 1fr;

    // TS code will attach the aspect-ratio and grid-template-columns for this element
    // according to the selected cover type
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
  font-weight: 600;
  color: var(--text-subtle);
  outline: 1px dashed var(--border);
  outline-offset: -1px;

  &--back {
    background: color-mix(in srgb, tomato 15%, transparent);
  }
  &--spine {
    background: color-mix(in srgb, dodgerblue 20%, transparent);
  }
  &--front {
    background: color-mix(in srgb, mediumseagreen 15%, transparent);
  }
}
